{% extends "main/base.html" %}
{% block content %}
<ol>
    {% if person.role == "Product Owner" %}
        {% for d in developers %}
            <li>{{ d.user.username }} : {{ d.user.email }}</li>
            <button onclick="window.location.href = '/pbi/SendMail/{{ d.user.email }}';">Send Invitation Mail</button>
        {% endfor %}
        <br><br><br><br><button onclick="window.location.href = '/pbi/SendMailToAll/';">Send Invitation Mail To All Developers</button>
    {% else %}
        <p>You are not a product owner.</p>
    {% endif %}
</ol>
{% endblock %}