{% extends "main/base.html" %}

{% block content %}
<h1 align="center">{{row1.name}}</h1>
<table class="table" border="2" style="border:2px;" cellpadding="10" align="center">
    <thead>
        <tr>
            {% for k in header %}
            <th>{{k}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for r in rows %}
			{% if r.status != "Completed" %}
            <tr>
				<td align="center" valign="center">{{ r.order }}</td>
				<td align="center" valign="center">{{ r.name }}</td>
                <td align="center" valign="center">{{ r.description }}</td>
				<td align="center" valign="center">{{ r.sprint }}</td>
                <td align="center" valign="center">{{ r.remaining_sprint_size }}</td>
				<td align="center" valign="center">{{ r.estimate_of_story_point }}</td>
				<td align="center" valign="center">{{ r.cumulative_story_point }}</td>
				<td align="center" valign="center">{{ r.status }}</td>
				<td align="center" valign="center">{{ r.last_modified }}</td>
				<td align="center" valign="center">{{ r.create_at }}</td>
				<td align="center" valign="center">
				<button onclick="window.location.href = 'http://localhost:8000/pbi/viewPBIdetail/{{ r.pk }}';">View</button>
				{% if r.status == "Not yet started" %}
					<button onclick="window.location.href = 'http://localhost:8000/pbi/updatePBI/{{ r.pk }}';">Edit</button>
					<button onclick="window.location.href = 'http://localhost:8000/pbi/deletePBI/{{ r.pk }}';">Delete</button>
                    {% if r.sprint.status == "Completed" and r.project.last_sprint > r.sprint.number %}
                        <button onclick="window.location.href = 'http://localhost:8000/pbi/updatePBIsprint/{{ r.pk }}';">Change To Latest Sprint</button>
                    {% endif %}
				{% endif %}
				{% if r.status == "Not finished" and r.project.last_sprint > r.sprint.number %}
					<button onclick="window.location.href = 'http://localhost:8000/pbi/updatePBIsprint/{{ r.pk }}';">Change To Latest Sprint</button>
				{% endif %}
				{% if r.status != "Completed" and r.sprint.status != "Completed" %}
					{% if r.added == False %}
						<br><button onclick="window.location.href = 'http://localhost:8000/pbi/PbiAddToSprintView/{{ r.pk }}';">Add to Sprint Backlog</button>
					{% else %}
						<br><button onclick="window.location.href = 'http://localhost:8000/pbi/PbiRemoveFromSprintView/{{ r.pk }}';">Remove From Sprint Backlog</button>
					{% endif %}
				{% endif %}
				</td>
            </tr>
			{% endif %}
		{% empty %}
			<tr>
				<td align="center" valign="center">*empty*</td>
                <td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*nothing to be done*</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<p align="center">
	<button onclick="window.location.href = 'http://localhost:8000/pbi/createPBI/';">Add new PBI</button>
	<button onclick="window.location.href = 'http://localhost:8000/pbi/viewProductbacklog/{{row1.pk}}';">Switch to full view</button>
    <button onclick="window.location.href = 'http://localhost:8000/pbi/viewProject/{{row1.pk}}';">View Sprints</button>
	{% if row1.status == "Completed" %}
		<button onclick="window.location.href = 'http://localhost:8000/pbi/ProjectToInProgress/{{row1.pk}}';">Save project as In Progress</button>
	{% else %}
		<button onclick="window.location.href = 'http://localhost:8000/pbi/ProjectToCompleted/{{row1.pk}}';">Save Project as Completed</button>
	{% endif %}
    <button onclick="window.history.back();" value="Back" type="reset">Back</button>
</p>

<hr>

<p align="center">
	Total Items: {{ itemCount }}
</p>
<p align="center">
	Total Remaining Sprint Size: {{ remainSS }}
</p>
<p align="center">
	Total Sprint Size: {{ totalSS }}
</p>
{% endblock %}