{% extends "main/base.html" %}

{% block content %}
<p><b>Username: </b>{{ person.user.username }}</p>
<p><b>Role: </b>{{ person.role }}</p>
<p><b>Project handling: </b>
    {% if project.name == NONE %}
        Not handling any project currently
        {% if person.role == "Developer" or person.role == "Product Owner"%}
            <p><button onclick="window.location.href = '/pbi/createProject/';">Create New Project</button></p>
        {% endif %}
    {% else %}
        {{ project.name }}
        {% if project.status == "Completed" %}
            (completed, can join or start new project)
			<p><button onclick="window.location.href = '/pbi/createProject/';">Create New Project</button></p>
        {% endif %}
        {% if person.role == "Product Owner" %}
            <p><b>Key for Developer: </b>{{ project.Dhash }}</p>
            <p><b>Key for Scrum Master: </b>{{ project.SMhash }}</p>
        {% endif %}
    {% endif %}
</p>
{% if person.chosen == 1 and role == NONE%}
    <p style="color:red;font-size:50px;"> Caution: Role cannot be edit manually after chosen!!!</p>
	Select your role:
    <p>
        <button onclick="window.location.href = '/pbi/BeDeveloper/';">Developer</button>
        <button onclick="window.location.href = '/pbi/BeManager/';">Manager</button>
    </p>
{% endif %}

{% endblock %}