{% extends "main/base.html" %}

{% block content %}
{% if person == NONE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<p>
    <p align="center"><b>Project name: </b> {{project.name}} </p>
    <p align="center"><b>Description: </b> {{project.description}} </p>
	<table class="table" border="2" style="border:2px;" cellpadding="10" align="center">
		<thead>
			<tr>
				<th align="center" valign="center">Sprint</th>
				<th align="center" valign="center">Status</th>
				<th align="center" valign="center">Create Time</th>
				<th align="center" valign="center">End Time:</th>
				<th align="center" valign="center">Action</th>
			</tr>
		</thead>
		<tbody>
			{% for sprint in sprint_list %}
				<tr>
					<td align="center" valign="center">{{sprint.number}}</td>
					<td align="center" valign="center">{{sprint.status}}</td>
					<td align="center" valign="center">{{sprint.create_at}}</td>
					<td align="center" valign="center">{{sprint.end_at}}</td>
					<td align="center" valign="center">
						<button onclick="window.location.href = 'http://localhost:8000/pbi/viewSprintBacklog/{{sprint.pk}}';" value="SprintBacklog">View Sprint Backlog</button>
						{% if person1.role != "Scrum Master" %}
							<br>
							<button onclick="window.location.href = 'http://localhost:8000/pbi/updateSprint/{{sprint.pk}}';" value="SprintBacklog">Edit Sprint</button>
							<br>
							<button onclick="window.location.href = 'http://localhost:8000/pbi/deleteSprint/{{sprint.pk}}';" value="SprintBacklog">Delete Sprint</button>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<p align="center">
		<button onclick="window.location.href = 'http://localhost:8000/pbi/viewProductbacklog/{{project.pk}}';" value="ProductBacklog">View Product Backlog</button>
		{% if person1.role != "Scrum Master" %}
			<button onclick="window.location.href = 'http://localhost:8000/pbi/createSprint/';" value="createSprint">Create New Sprint</button>
		{% endif %}
		<button onclick="window.history.back();" value="Back" type="reset">Back</button>
	</p>
    <p align="center"><b>Person invloved:</b>
	<ol style="text-align:center;max-width:260px;margin:0 auto;">
		<li><b>Product Owner:</b></li>
		<ul>
            {% for productowner in productowner_list %}
				<li>{{productowner.user.username}}</li>
			{% empty %}
				<li>*No Product Owner yet*</li>
			{% endfor %}
		</ul>
		<li><b>Developer:</b></li>
		<ul>
            {% for developer in developer_list %}
				<li>{{developer.user.username}}</li>
			{% empty %}
				<li>*No Developer yet*</li>
			{% endfor %}
		</ul>
		<li><b>Scrum Massters:</b></li>
		<ul>
			{% for scrummaster in scrummaster %}
				<li>{{scrummaster.user.username}}</li>
			{% empty %}
				<li>*No Scrum Master yet*</li>
			{% endfor %}
		</ul>
	</ol>
	</p>
</body>
</html>
{% else %}
	<p>Restricted Access</p>
{% endif %}
{% endblock %}
