<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sprint Backlog</title>
	<h1 align="center">{{sprint.project.name}}</h1>
	<h2 align="center">Sprint {{sprint.number}}</h2>
</head>
<body>
	<table class="table" border="1" style="border:3px #FF4500 dashed;" cellpadding="10" align="center">
    <thead>
        <tr>
            <th>Feature</th>
			<th>Not Yet Started</th>
			<th>In Progress</th>
			<th>Completed</th>
			<th>Total Remaining Hours</th>
			<th>Total Burndown Hours</th>
			<th>Total Effort Hours</th>
			<th>Action</th>
        </tr>
    </thead>
    <tbody>
	{% for item in pbi_list %}
			{% if item.added == True %}
            <tr>
				<td align="center" valign="center">{{ item.name }}</td>
				
				<td align="center" valign="center">
				{% for task in task_list %}
					{% if task.item == item %}
						{% if task.status == "Not yet started" %}
							<p style="border:3px; border-style:solid; border-radius:5px; border-color:#03A9FC; padding: 1em;">
								{{ task.name }} <br>
								{{ task.hour }} hours <br>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/viewTask/{{ task.pk }}';">View</button>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/updateTask/{{ task.pk }}';">Edit</button>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/deleteTask/{{ task.pk }}';">Delete</button>
								<br>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/TaskToInProgress/{{ task.pk }}';">Mark as in progress</button>
								<br>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/TaskToCompleted/{{ task.pk }}';">Mark as completed</button>
							</p>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
				<td align="center" valign="center">
				{% for task in task_list %}
					{% if task.item == item %}
						{% if task.status == "In Progress" %}
							<p style="border:3px; border-style:solid; border-radius:5px; border-color:#03A9FC; padding: 1em;">
								{{ task.name }} <br>
								{{ task.hour }} hours <br>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/viewTask/{{ task.pk }}';">View</button>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/updateTask/{{ task.pk }}';">Edit</button>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/deleteTask/{{ task.pk }}';">Delete</button>
								<br>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/TaskToNotYetStarted/{{ task.pk }}';">Mark as not yet started</button>
								<br>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/TaskToCompleted/{{ task.pk }}';">Mark as completed</button>
							</p>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
				<td align="center" valign="center">
				{% for task in task_list %}
					{% if task.item == item %}
						{% if task.status == "Completed" %}
							<p style="border:3px; border-style:solid; border-radius:5px; border-color:#03A9FC; padding: 1em;">
								{{ task.name }} <br>
								{{ task.hour }} hours <br>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/viewTask/{{ task.pk }}';">View</button>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/updateTask/{{ task.pk }}';">Edit</button>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/deleteTask/{{ task.pk }}';">Delete</button>
								<br>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/TaskToNotYetStarted/{{ task.pk }}';">Mark as not yet started</button>
								<br>
								<button onclick="window.location.href = 'http://localhost:8000/pbi/TaskToInProgress/{{ task.pk }}';">Mark as in progress</button>
							</p>
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
				<td align="center" valign="center">
				{% for i in total %}
					{% if i.name == item.name %}
						{{ i.remain }}
					{% endif %}
				{% endfor %}
				</td>
				<td align="center" valign="center">
				{% for i in total %}
					{% if i.name == item.name %}
						{{ i.burn }}
					{% endif %}
				{% endfor %}
				</td>
				<td align="center" valign="center">
				{% for i in total %}
					{% if i.name == item.name %}
						{{ i.totalDone }}
					{% endif %}
				{% endfor %}
				</td>
				<td align="center" valign="center">
					<button onclick="window.location.href = 'http://localhost:8000/pbi/createTask/{{ item.pk }}';">Add task</button>
				</td>
            </tr>
			{% endif %}
			{% empty %}
			<tr>
				<td align="center" valign="center">*empty*</td>
                <td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*empty*</td>
				<td align="center" valign="center">*nothing to be done*</td>
            </tr>
	{% endfor %}
	<tr>
		<td align="center" valign="center">Total</td>
		<td align="center" valign="center">{{ nys }}</td>
		<td align="center" valign="center">{{ ip }}</td>
		<td align="center" valign="center">{{ done }}</td>
		<td align="center" valign="center">{{ remain }}</td>
		<td align="center" valign="center">{{ done }}</td>
		<td align="center" valign="center">{{ tot }}</td>
		<td align="center" valign="center"></td>
	</tr>
    </tbody>
	</table>
	
	
	<p align="center"><b>Maximum effort hour: </b>{{sprint.capacity}}</p>
	<p align="center">
		{% if megaDone == 1 and sprint.status == "Completed" %}
			<button onclick="window.location.href = 'http://localhost:8000/pbi/SprintToInProgress/{{ sprint.pk }}';">Change Status to In Progress</button>
		{% endif %}
		{% if megaDone == 1 and sprint.status == "In Progress" %}
			<button onclick="window.location.href = 'http://localhost:8000/pbi/SprintToCompleted/{{ sprint.pk }}';">Change Status to Completed</button>
		{% endif %}
		<button onclick="window.location.href = 'http://localhost:8000/pbi/viewProductbacklog/{{ sprint.project.pk }}';">View Product Backlog</button>
		<button onclick="window.location.href = 'http://localhost:8000/pbi/viewProject/{{ sprint.project.pk }}';">Back</button>
	</p>
	
</body>
</html>
