<p><b>name: </b>{{ task.name }}</p>
<p><b>Description: </b>{{ task.description }}</p>
<p><b>estimate hour: </b>{{ task.hour }}</p>
<p><b>Person: </b>{{ task.person.name }}</p>
<p><b>Status: </b>{{ task.status }}</p>
<p><b>PBI </b>{{ task.item }}</p>
<button onclick="window.location.href = 'http://localhost:8000/pbi/editTask/{{ task.pk }}';">Edit</button>
<button onclick="window.location.href = 'http://localhost:8000/pbi/deleteTask/{{ task.pk }}';">Delete</button>
<button onclick="window.location.href = 'http://localhost:8000/pbi/sprintbacklog/{{ task.sprint.pk }}';" value="Back" type="reset">Back</button>
