{% extends "main/base.html" %}

{% block content %}
<p><b>Name: </b>{{ task.name }}</p>
<p><b>Description: </b>{{ task.description }}</p>
<p><b>Estimate hour: </b>{{ task.hour }}</p>
<p><b>Owner: </b>{{ task.person.name }}</p>
<p><b>Status: </b>{{ task.status }}</p>
<p><b>PBI: </b>{{ task.item }}</p>
<button onclick="window.location.href = 'http://localhost:8000/pbi/updateTask/{{ task.pk }}';">Edit</button>
<button onclick="window.location.href = 'http://localhost:8000/pbi/deleteTask/{{ task.pk }}';">Delete</button>
<button onclick="window.location.href = 'http://localhost:8000/pbi/viewSprintBacklog/{{ task.sprint.id }}';" value="Back" type="reset">Back</button>
{% endblock %}